body {
    background-color: #033e5d;
}

h1 {
    color: gainsboro;
}

img {
    border: chocolate;
}

p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-style: oblique;
    color: antiquewhite;
}
